.top_bar_right_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  border: none;
  outline: none;
}
@media only screen and (max-width: 767px) {
  select {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .home-title-button {
    margin-bottom: 40px !important;
  }
}

.home-title {
  font-size: 80px;
  line-height: 110px;
  font-weight: 700;
  border-color: rgb(18, 38, 58);
  border-style: none;
  margin: 0px;
  color: rgb(18, 38, 58);
}
.home-title-themecolor {
  color: rgb(255, 207, 0);
  line-height: 80px;
  font-weight: 600;
  font-size: 60px;
  border-color: rgb(255, 207, 0);
  border-style: none;
  margin: 0px;
}
.home-title-describe {
  line-height: 26px;
  font-weight: 400;
  font-size: 16px;
  border-color: rgb(18, 38, 58);
  border-style: none;
  margin: 20px 0px;
}
.home-title-button {
  background-color: rgb(131, 10, 72);
  font-family: Inter;
  visibility: visible;
  line-height: 32px;
  font-weight: 700;
  font-size: 16px;
  border-color: rgba(255, 255, 255, 0);
  border-style: none;
  margin: 0px;
  border-radius: 12px;
  padding: 15px 31px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: nowrap;
  width: auto;
  height: auto;
  display: inline-block;
}
.home-title-button:hover {
  background-color: rgb(193, 15, 107);
}
.home-decorate-one {
  position: absolute;
  left: -125px;
  top: 59px;
}
.home-decorate-two {
  position: absolute;
  left: 1%;
  bottom: 26%;
}

.product-icon-wrapper {
  height: 96px;
  line-height: 96px;
}
.product-icon {
  width: 96px;
  height: 96px;
}

.rating-user-img {
  border-radius: 16px;
  height: 92px !important;
}

.logo-main {
  margin-top: -32px;
}

.is-sticky .top_bar_right_wrapper {
  height: 60px;
}

.bottom-text {
  font-size: 24px;
  line-height: 36px;
}

.cutting-line {
  margin: 32px 0;
}

.bottom-h2 {
  font-family: '';
}

.country-img {
  width: auto;
}

.paris {
  width: 293px;
  height: 372px !important;
  margin-top: 20px;
}

.singapore {
  height: 320px !important;
  margin-top: 72px;
}

.guangdong {
  height: 392px !important;
}

.country-image_wrapper {
  clip-path: path(
    'M 20 190 C 40 90 90 60 110 50 Q 170 20 220 30 Q 320 50 350 160 Q 370 260 310 330 Q 260 380 180 390 Q 80 380 40 320 Q 10 270 20 190 '
  );
  background-color: #fff7f1;
}

.line-hight-168 {
  line-height: 168px;
}

.line-hight-110 {
  line-height: 110px;
}

.font-size-36 {
  font-size: 36px;
}

.about-wrapper {
  font-family: '';
}

.text-alight-lift {
  text-align: left;
}

.text-indent-2 {
  text-indent: 2em;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.culture .themecolor {
  font-size: 60px;
  line-height: 98px;
}

.culture-describe {
  font-size: 46px;
  line-height: 66px;
  font-weight: 600;
}
.factory-describe {
  font-size: 24px;
  line-height: 46px;
  font-weight: 600;
}

.swiper-container {
  height: 400px;
  width: 100%;
  padding: 0 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

.img-wrap {
  margin: 20px 0;
  position: relative;
}

.portfoli-content {
  width: 100%;
  position: absolute;
  height: 100%;
  opacity: 0;
  top: 0;
  transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.portfoli-content:before {
  background-color: rgba(255, 255, 255, 0.55);
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  content: '';
  position: absolute;
  transform: scale(0.8);
  transition: all 400ms ease;
}

.img-wrap:hover .portfoli-content {
  transform: scale(1);
  opacity: 1;
}

.img-wrap:hover .portfoli-content:before {
  transform: scale(1);
  opacity: 1;
}

.img-wrap:hover .sup-desc-wrap .sup-meta-wrap .sup-title {
  transform: scale(1);
  opacity: 1;
}

.sup-desc-wrap {
  display: table;
  width: 100%;
  height: 100%;
}

.sup-desc-wrap .sup-desc-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 0 35px;
}

.sup-desc-wrap .sup-meta-wrap .sup-title {
  display: block;
  outline: none;
  margin-bottom: 10px;
  transform: scale(0);
  opacity: 0;
  transition: all 0.5s ease;
}

.sup-desc-wrap .sup-meta-wrap .sup-title h4 {
  font-size: 18px;
  color: #000;
  line-height: 22px;
  text-transform: uppercase;
}

.product-sort .container {
  width: 100%;
  max-width: 100%;
  padding: 0px 15%;
}
.product-sort .sort-item {
  color: #000;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 20%;
  max-width: 20%;
}
.product-sort .sort-item.active {
  color: #409eff;
}
.product-sort .sort-item:hover {
  color: #409eff;
}
.product-sort .tab {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  padding-bottom: 10px;
}
.product-sort .tab::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #e4e7ed;
  z-index: 1;
  visibility: inherit;
}
.product-sort .tab-active-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #409eff;
  z-index: 2;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  list-style: none;
  width: 20%;
}
.product-img {
  cursor: auto;
  padding: 0px 30px;
}
.product-img .product-img-image_wrapper {
  padding: 30px;
  border: 1px solid #e4e7ed;
  margin-top: 30px;
}
.product-img .title {
  color: #000;
  font-size: 16px;
  /* overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; */
}
.product-img .desc {
  /* 超出显示省略号 */
  /* overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; */
}
.about-wrapper .google_font {
  font-family: '', Arial, Tahoma, sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #ffffff;
}
.about-wrapper .team-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-wrapper .team-img {
  width: 370px;
  height: 236px;
}
.about-wrapper .team-img img {
  display: block;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.index-wrapper .home-index {
  padding: 120px 5% 0;
}

.EN_home_index p[lang='home_index_second'] {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}
/* .EN_home_index p[lang="home_index_third"] {
  line-height: 80px;
} */
.EN_home_index .home-title-themecolor {
  font-size: 44px;
}
.EN_home_third p[lang='home_third_ninth'] {
  margin-bottom: 4rem;
}
.EN_home_third p[type='justify'] {
  text-align: center;
}
.CN .mobile_align_center {
  padding: 40px 40px 25px;
  border: 1px solid #e2e2e2;
  border-radius: 32px;
}
.EN_home_fourth p[lang='home_fourth_fourth'] {
  margin-bottom: 2.6rem;
}
.EN_msg p[lang='msg_first'] {
  font-size: 44px;
  margin-bottom: 0;
}
.EN_msg p[lang='msg_second'] {
  display: none;
  margin-bottom: 0;
}

/* .EN_about p[lang='about_first'] {
  margin-top: 30%;
  font-size: 88px;
  font-weight: 800;
} */
.EN_about *[lang='about_third'] {
  font-size: 52px;
}
.CN_about *[lang='about_seventeenth'] {
  font-size: 46px;
  line-height: 66px;
}
.EN_about .team-desc {
  height: 310px;
  padding: 0px 18px;
}
.CN_about .team-desc {
  height: 232px;
}

.EN_culture .culture-describe {
  font-size: 36px;
  line-height: 56px;
}

.EN_team .themecolor {
  font-size: 48px;
  line-height: 88px;
}

.EN_contact .themecolor {
  font-size: 58px;
  line-height: 88px;
}
.EN_contact .contact-title {
  font-size: 68px;
  line-height: 88px;
}

.EN_factory .themecolor {
  font-size: 48px;
  line-height: 88px;
}
.EN_factory .contact-title {
  font-size: 68px;
  line-height: 88px;
}

.EN_product .themecolor {
  font-size: 48px;
  line-height: 88px;
}

.about-wrapper .about {
  padding: 120px 5% 0;
}
.team-wrapper .team {
  padding: 120px 5% 0;
}
.contact-wrapper .contact {
  padding: 120px 5% 0;
}
.culture-wrapper .culture {
  padding: 120px 0 0;
}
.factory-wrapper .factory {
  padding: 120px 5% 0;
}
.product-wrapper .product {
  padding: 120px 5% 0;
}
@media only screen and (max-width: 1860px) {
  .team-wrapper .team {
    padding: 4% 0 0;
  }
  .contact-wrapper .contact {
    padding: 4% 0 0;
  }
  .factory-wrapper .factory {
    padding: 4% 0 0;
  }
  .culture-wrapper .culture {
    padding: 4% 0 0;
  }
  .index-wrapper .home-index {
    padding: 4% 0 0;
  }
  .about-wrapper .about {
    padding: 4% 0 0;
  }
  .product-wrapper .product {
    padding: 4% 0 0;
  }
  .home-decorate-two {
    left: -56px;
    bottom: 46px;
  }
}
@media only screen and (max-width: 1430px) {
  .EN_team .themecolor {
    font-size: 40px;
    line-height: 88px;
  }
  .team-wrapper .team-title {
    font-size: 72px;
  }
  .EN_contact .themecolor {
    font-size: 40px;
    line-height: 88px;
  }
  .contact-wrapper .contact-title {
    font-size: 72px;
  }
  .EN_contact .contact-title {
    font-size: 40px;
    line-height: 88px;
  }
  .EN_factory .themecolor {
    font-size: 40px;
    line-height: 88px;
  }
  .factory-wrapper .factory-title {
    font-size: 72px;
  }
  .EN_factory .factory-title {
    font-size: 40px;
    line-height: 88px;
  }
  .EN_product .themecolor {
    font-size: 40px;
    line-height: 88px;
  }
  .CN_product .themecolor {
    font-size: 70px;
  }
  .product-wrapper .team-title {
    font-size: 72px;
  }
  .about-wrapper .about-title {
    font-size: 72px;
  }
  .about-wrapper .themecolor {
    font-size: 72px;
  }
  .culture .top-title {
    font-size: 72px;
    line-height: 88px;
  }
  .culture .themecolor {
    font-size: 48px;
    line-height: 88px;
  }
  /* .about-wrapper .themecolor {
    font-size: 48px;
    line-height: 88px;
  } */
  .index-wrapper .home-title {
    font-size: 72px;
  }
  .index-wrapper .home-title-themecolor {
    font-size: 41px;
  }
}

.wp-image-206 {
  width: 136px;
  margin-left: -30px;
  margin-bottom: -38px;
  margin-top: -25px;
}

.el-image-viewer__close {
  top: 80px !important;
}
