.top_bar_right_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
select { border: none; outline: none; }
.product-icon {
    width: 96px;
    height: 96px;
}
.rating-user-img {
  border-radius: 16px;
  height: 92px !important;
}
.logo-main {
  margin-top: -32px;
}
.is-sticky .top_bar_right_wrapper {
  height: 60px;
}